<%- include('../partials/header') -%>
<header class="jumbotron">
    <div class="container text-center">
        <h1 class="display-3">Welcome to Yelp Camp!</h1>
        <p class="lead pt-4">View our hand-picked camp sites from all over the world!</p>
        <!-- <a class="btn btn-primary btn-lg mt-3" href="/campgrounds/new">Add new Campground</a> -->
    </div>
</header>

<div class="container-sm">
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <header class="header">
                <h1 class="title"><%= campground.name%></h1>
            </header>
            <div class="text-center my-3">
                <img class="img-fluid" src="<%= campground.image%>" alt="<%= campground.image%>">
            </div>
            <div class="desc pt-3">
                <p class="lead"><%= campground.description %></p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <h2>Comments</h2>
            <ul class="list-unstyled">
                <%campground.comments.forEach(comment => { %>
                <li class="mb-4 border-bottom">
                    <strong><i class="fa fa-user-circle-o"></i> <%= comment.author %></strong>
                    <div class="mb-2"><%= comment.comment %></div>
                </li>
                <%})%>
            </ul>
            <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-primary btn-sm">Add Comment</a>
        </div>
    </div>
</div>
<p></p>
<%- include('../partials/footer') -%>