<%- include('../partials/header') -%>
<header class="jumbotron">
    <div class="container text-center">
        <h1 class="display-3">Welcome to Yelp Camp!</h1>
        <p class="lead pt-4">View our hand-picked camp sites from all over the world!</p>
        <a class="btn btn-primary btn-lg mt-3" href="/campgrounds">Campgrounds</a>
    </div>
</header>

<div class="container-lg px-5">
    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-4 col-lg-3 mb-4 d-lg-block">
            <p class="lead">YelpCamp</p>
            <ul class="list-group mb-4">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </ul>
            <!-- MAP -->
            <div id="map"></div>
        </div>
        <div class="col-sm-10 col-md-8 col-lg-9">
            <div class="figure border mb-4 rounded">
                <img class="figure-img img-fluid" width="100%" src="<%= campground.image%>"
                    alt="<%= campground.name%>" />
                <div class="figure-caption px-2">
                    <span>
                        <h6 class="title float-right">$ <%= campground.price.toFixed(2)/100 %>/night</h6>
                    </span>
                    <a href="/campgrounds">
                        <h4><%= campground.name%></h4>
                    </a>
                    <div class="desc pt-3">
                        <p class="text-justify"><%= campground.description %></p>
                        <p class="d-inline-block mb-0">Submitted By <em>
                                <a href="/users/<%= campground.author.id %>/profile">
                                    <%= campground.author.username %>
                                </a></em>
                        </p>
                        <div class="float-right">
                            <% if(currentUser && campground.author.id.equals(currentUser._id)) { %>
                            <a href="/campgrounds/<%= campground._id %>/edit"
                                class="btn primary effect btn-lg p-0 mr-2">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST"
                                class="d-inline">
                                <button type="submit" class="btn danger effect btn-lg p-0 mr-2">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </form>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" mb-5 p-3 bg-light border border-light rounded">
                <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-primary btn-sm float-right">
                    Leave a Review</a>
                <h4 class="pl-0">Reviews</h4>
                <hr>
                <ul class="list-unstyled">
                    <% if(campground.comments.length === 0){ %>
                    <img src="/images/placeholder_images/list-app.svg" alt="thinking-man" class="img-fluid placeholder_images" />
                    <% } %>
                    <%campground.comments.forEach(comment => { %>
                    <li class="mb-3">
                        <small class="float-right"><%= comment.createdAt.toDateString() %></small>
                        <strong><i class="fa fa-user-circle-o"></i> <%= comment.author.username %></strong>
                        <div>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                            <small class="float-right">
                                <a href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit"
                                    class="btn primary btn-sm px-0"> <i class="fa fa-pencil"></i> </a>
                                <form class="d-inline" method="POST"
                                    action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE">
                                    <button class="btn danger btn-sm" type="submit">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </form>
                            </small>
                            <% } %>
                            <p class=""><%= comment.comment %></p>
                        </div>
                    </li>
                    <%})%>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>

    function addDraggableMarker(map, behavior) {

        var marker = new H.map.Marker(
            {
                lat: `<%= campground.lat %>`,
                lng: `<%= campground.lng %>`
            }, {
            volatility: true
        });
        marker.draggable = true;
        map.addObject(marker);

        // disable the default draggability of the underlying map
        // and calculate the offset between mouse and target's position
        // when starting to drag a marker object:
        map.addEventListener('dragstart', function (ev) {
            var target = ev.target,
                pointer = ev.currentPointer;
            if (target instanceof H.map.Marker) {
                var targetPosition = map.geoToScreen(target.getGeometry());
                target['offset'] = new H.math.Point(pointer.viewportX - targetPosition.x, pointer.viewportY - targetPosition.y);
                behavior.disable();
            }
        }, false);


        // re-enable the default draggability of the underlying map
        // when dragging has completed
        map.addEventListener('dragend', function (ev) {
            var target = ev.target;
            if (target instanceof H.map.Marker) {
                behavior.enable();
            }
        }, false);

        // Listen to the drag event and move the position of the marker
        // as necessary
        map.addEventListener('drag', function (ev) {
            var target = ev.target,
                pointer = ev.currentPointer;
            if (target instanceof H.map.Marker) {
                target.setGeometry(map.screenToGeo(pointer.viewportX - target['offset'].x, pointer.viewportY - target['offset'].y));
            }
        }, false);
    }

    function moveMapToLocation(map) {
        // console.log(`latitude <%= campground.lat %> longitude <%= campground.lng %>`);
        map.setCenter({
            lat: `<%= campground.lat %>`,
            lng: `<%= campground.lng %>`
        });
        map.setZoom(12);
    }

    //Step 1: initialize communication with the platform
    // In your own code, replace variable window.apikey with your own apikey
    var platform = new H.service.Platform({
        apikey: "IBuie-merklf5lyFUNrERDAf-qUxGQr2B4_yJMoLCKo"
    });
    var defaultLayers = platform.createDefaultLayers();

    //Step 2: initialize a map - this map is centered over California
    var map = new H.Map(document.getElementById('map'),
        defaultLayers.vector.normal.map, {
        center: { lat: 20.5937, lng: 78.9629 },
        zoom: 4,
        pixelRatio: window.devicePixelRatio || 1
    });
    // add a resize listener to make sure that the map occupies the whole container
    window.addEventListener('resize', () => map.getViewPort().resize());

    var locationsContainer = document.getElementById('panel');

    //Step 3: make the map interactive
    // MapEvents enables the event system
    // Behavior implements default interactions for pan/zoom (also on mobile touch environments)
    var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

    // Create the default UI components
    var ui = H.ui.UI.createDefault(map, defaultLayers);

    // Now use the map as required...
    window.onload = function () {
        moveMapToLocation(map);
        addDraggableMarker(map, behavior);
    }

</script>

<%- include('../partials/footer') -%>