<%- include('../partials/header') -%>
<header class="jumbotron">
    <div class="container text-center">
        <h1 class="display-3">Welcome to Yelp Camp!</h1>
        <p class="lead pt-4">View our hand-picked camp sites from all over the world!</p>
        <a class="btn btn-primary btn-lg mt-3" href="/campgrounds">Campgrounds</a>
    </div>
</header>

<div class="container px-5">
    <div class="row justify-content-center">
        <div class="col-md-3 mb-4">
            <p class="lead">YelpCamp</p>
            <ul class="list-group mb-4">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </ul>
            <!-- MAP -->
        </div>
        <div class="col-md-9">
            <div class="figure border mb-4 rounded">
                <img class="figure-img img-fluid" width="100%" src="<%= campground.image%>"
                    alt="<%= campground.name%>" />
                <div class="figure-caption px-2">
                    <span>
                        <h5 class="title float-right">$9.00/night</h5>
                    </span>
                    <a href="/campgrounds">
                        <h4><%= campground.name%></h4>
                    </a>
                    <div class="desc py-3">
                        <p class="text-justify"><%= campground.description %></p>
                        <p>Submitted By <em><%= campground.author.username %></em></p>
                        <% if(currentUser && campground.author.id.equals(currentUser._id)) { %>
                        <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-warning btn-sm"> Edit </a>
                        <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class=" mb-5 p-3 bg-light border border-light rounded">
                <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-primary btn-sm float-right">
                    Leave a Review</a>
                <h4 class="pl-0">Reviews</h4>
                <hr>
                <ul class="list-unstyled">
                    <%campground.comments.forEach(comment => { %>
                    <li class="mb-3">
                        <small class="float-right">10 days ago</small>
                        <strong><i class="fa fa-user-circle-o"></i> <%= comment.author.username %></strong>
                        <div>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                            <small class="float-right">
                                <a href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">edit</a>
                                <form class="d-inline ml-2" method="POST"
                                    action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE">
                                    <button class="btn btn-outline-danger btn-sm" type="submit">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </form>
                            </small>
                            <% } %>
                            <p class=""><%= comment.comment %></p>
                        </div>
                    </li>
                    <%})%>
                </ul>
            </div>
        </div>
    </div>
</div>
<p></p>
<%- include('../partials/footer') -%>